<head>
    <title>{{title}} - CS 3550</title>
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/main.css" />
    <meta charset="utf-8" />
</head>
<header>
    <script type="module" src="/static/main.js">
        import { say_hi } from "/static/main.js";
        say_hi()
    </script>
    <nav>
        <ul class="pageColumn">
            <li>
                <strong>CS 3550</strong>
            </li>
            <li>
                <a href="/">Assignments</a>
            </li>
            <li>
                <a href="/profile">Profile</a>
            </li>
        </ul>
    </nav>
</header>